@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');


* {
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

/*********************Header*********************/

header {
    background-color: #1CD1B0;
}

.header-descuentos {
    font-size: 15px;
    padding: 7px 0 7px 20px
}

h1 {
    background-color: #00669F;
    color: #FFFFFF;
    padding: 20px;
    font-size: 40px;
    z-index: 30;
    position: sticky; top: 0;
    box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
}

/*********************Main*********************/

section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

article {
    background-color:#F3F3F3;
    margin: 100px 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 300PX;
}

section article .background {
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    background-size: cover;
    height: 193px;
    width: 300px;
    position: relative;
}

section article .bg-batman {
    background-image: url('../img/bbatman.png');
}

section article .bg-mm {
    background-image: url('../img/fondo-mujer-maravilla.png');
}

section article .bg-hq {
    background-image: url('../img/bharley.png');
}

section article .bg-superman {
    background-image: url('../img/fondo-superman.png');
}

.superman {
    display: none;
}

img {
    top: 130px;
    border-radius: 50%;
    position: absolute;
    z-index: 20;
    width: 125px;
}

i {
    position: absolute;
    padding: 27px 22px;
}

h2 {
    padding-top: 75px;
    text-align: center;
    font-size: 30px;
}

.text {
    text-align: left;
    margin: 10px 17px 60px;
    font-size: 14px;
    height: 120px;
}

article button {
    background-color: #00669F;
    color: rgba(243, 243, 243, 1);
    border: none;
    padding: 15px 30px;
    margin-bottom: 20px;
}

button.plus {
    background-color: #00669F;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    font-size: 30px;
    width: 60px;
    height: 60px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 20;
    right: 1%;
    bottom: 50%;
}

button.plus:hover {
    background-color: #001D2D;
}

/*********************Footer*********************/

footer {
    background-color: rgba(0, 102, 159, 1);
    color: rgba(255, 249, 249, 1);
    height: 8vh;
    font-size: 2.5vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.logo {
    position: absolute;
    width: 100px;
    border-radius: 0;
    top: 12px;
    right: 10px;
}

/**********Formulario**********/

section.form-container {
    display: flex;
}

form.form-super {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    height: 700px;
    background-color: #00669F;
    border-radius: 45px;
    color: #FFFFFF;
}

form.form-super h2, form.form-super p, 
form.form-super label, 
section.subform-container div {
    font-family: 'Inter', sans-serif;  
    font-size: 20px;
    font-weight: 300;
}

form.form-super input {
    font-family: 'Inter', sans-serif;  
    font-size: 13px;
    font-weight: 300;
} 

form.form-super>h2 {
    font-size: 40px;
    font-weight: 700;
    padding: 10px 0;
}

form.form-super>p {
    padding: 0 0 15px;
}

.subform-container {
    width: 55vw;
}

.subform-container input, .subform-container select  {
    height: 8vh;
    border-radius: 15px;
    border: none;
    margin: 15px 0 30px;
    padding: 0 10px;
}

.subform-container>div {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.add-file::file-selector-button {
    background-color: #CECECE;
    height: 5vh;
    width: 16vw;
    text-align: left;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
}

.add-file {
    font-size: 8px;
    color: black;
}

p.cont-check {
    margin-bottom: 10px;
}

.label-check {
    display: flex;
    align-items: center;
    margin: 0;  
}

/*Separación checkbox y su correspondiente opción*/
.label-check>input {
    margin: 0 25px 0 0;
    height: 3vh;
}

fieldset, textarea {
    border: none;
    resize: none;
    border-radius: 15px;
    padding: 10px 0 0 10px;
}

hr {
    margin: 10px 0 20px 0;
}

form.form-super .enviar {
    background-color: #1CD1B0;
    border: none;
    border-radius: 20px;
    margin: 35px 0 10px 0;
    width: 35%;
    height: 9vh;
    color: black;
    font-size: 40px;
    font-weight: 700;
}

/*********************Responsive*********************/

@media screen and (max-width:768px) {
    
    header {
        background-color: #D1891C;
    }

    div.plus {
        bottom: 50%;
    }

    section {
        justify-content: space-evenly;
    }

    article {
        margin: 30px 0;
    }

    .superman {
        display: flex;
    }

    footer {
        margin-top: 40px;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
    }

    .logo {
        width: 016%;
        
    }
}

@media screen and (max-width:480px) {

    header {
        background-color: #D1891C;
        height: 3vh;
        display: flex;
        align-items: center;
        width: 100vw;
    }

    .header-descuentos {
        font-size: 2vh;
    }

    h1 {
        height: 10vh;
        font-size: 5vh;
        display: flex;
        align-items: center;
    }
    
    section {
        flex-direction: column;
        align-items: center;
    }

    article {
        margin-top: 30px;
    }

    .harley {
        display: none;
    }

    .superman {
        display: flex;
    }

    img.foto-comp {
        display: none;
    }

    footer {
        justify-content: space-between;
        align-items: center;
        font-size: 70%;
        padding-left: 15px;
    }

    .logo {
        width: 015%;
    }
}
